<div class="loginLoc">
    <h6>
        <a href="/users/login">Login or signup</a>
    </h6>

</div>
<div class="container">
    <div class="card mb-3">
        <img class="card-img-top" src="img/others/foramu_banner.png" alt="Card image cap" width="800" height="300">
        <div class="card-body">
          <center>
            <h4 class="card-title">Foramu Forum</h4>
          </center>
          <p class="card-text">Hi welcome di komunitas forum<b> foramu</b>, disini kita memiliki 5 kategori forum utama, yaitu forum game, news, technology, anime, dan football. Disini kita sharing berbagai hal apapun itu, ohh iya khusus diforum ini kita biasa memanggi satu sama lain dengan nama <b>foramus</b>, nah jadi tunggu apalagi yuk gabung jadi foramus sekarang juga.</p>
        </div>
      </div>
      <br>
      <div class="card-group">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="img/games/img1.png" alt="Card image cap" height="250">
            <div class="card-body">
              <h5 class="card-title">Games Forum</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="/forum" class="btn btn-outline-dark">Detail</a>
            </div>
          </div>
          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="img/news/img1.png" alt="Card image cap" width="250" height="250">
            <div class="card-body">
              <h5 class="card-title">News Forum</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="/forum" class="btn btn-outline-dark">Detail</a>
            </div>
          </div>
          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="img/techs/img1.png" alt="Card image cap" width="250" height="250">
            <div class="card-body">
              <h5 class="card-title">Technology Forum</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="/forum" class="btn btn-outline-dark">Detail</a>
            </div>
          </div>
      </div>
      <center>
      <div class="card mb-3">
        <img class="card-img-top" src="img/anime/anime.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Anime Forum</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <a href="/forum" class="btn btn-outline-dark">Detail</a>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Football Forum</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <a href="/forum" class="btn btn-outline-dark">Detail</a>
        </div>
        <img class="card-img-bottom" src="img/football/football.jpg" alt="Card image cap" height="300">
      </div>
      </center>
      <br>
      <div class="row">
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Genshin Impact Forum</h5>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <a href="/sub_forum" class="btn btn-outline-dark">Detail</a>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Node JS Forum</h5>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <a href="/sub_forum" class="btn btn-outline-dark">Detail</a>
            </div>
          </div>
        </div>
      </div>
      <br>
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-badge-ad" viewBox="0 0 16 16">
        <path d="m3.7 11 .47-1.542h2.004L6.644 11h1.261L5.901 5.001H4.513L2.5 11h1.2zm1.503-4.852.734 2.426H4.416l.734-2.426h.053zm4.759.128c-1.059 0-1.753.765-1.753 2.043v.695c0 1.279.685 2.043 1.74 2.043.677 0 1.222-.33 1.367-.804h.057V11h1.138V4.685h-1.16v2.36h-.053c-.18-.475-.68-.77-1.336-.77zm.387.923c.58 0 1.002.44 1.002 1.138v.602c0 .76-.396 1.2-.984 1.2-.598 0-.972-.449-.972-1.248v-.453c0-.795.37-1.24.954-1.24z"/>
        <path d="M14 3a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1h12zM2 2a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V4a2 2 0 0 0-2-2H2z"/>
      </svg>
      <div class="card">
        <div class="card-header">
          Hello there !!!
        </div>
        <div class="card-body">
          <blockquote class="blockquote mb-0">
            <p>LET'S INVEST YOUR MONEY WITH US, CLICK >> <a href="#"> HERE </a> <<.</p>
            <footer class="blockquote-footer">Weird corporation at <cite title="Source Title">United States</cite></footer>
          </blockquote>
        </div>
      </div>
</div>