<div class="container">
    <center>
        <h1>Detail Forum</h1>
    </center>
<div class="card text-center">
    <div class="card-header">
        Foramu Forum
    </div>
    <div class="card-body">
      <h5 class="card-title"><%= forums.title_post %> </h5>
      <p class="card-text"><%= forums.desc_post %></p>
    </div>
  </div>
  <br>
</div>