<div class="container">
    <center>
        <h1>Detail Discussion</h1>
    </center>
<div class="card text-center">
    <div class="card-header">
        Foramu Forum
    </div>
    <div class="card-body">
      <h5 class="card-title"><%= posts.title_post %> </h5>
      <p class="card-text"><%= posts.desc_post %></p>
    </div>
  </div>
  <br><br><br><br>
  <div class="button_post">
    <a href="/comment" button type="button" class="btn btn-outline-dark btn-lg">Comment</a>
  </div>
  <br>
</div>