<!-- Top navigation -->
<div class="topnav">
    <!-- Left-aligned links (default) -->
    <a class="navbar-brand text-white" >Foramu</a>
    <a href="/">Home</a>
    <a href="/forum">Forum</a>
    <a href="/sub_forum">Sub Forum</a>
    <a href="/discussion">Discussion</a>
  </div>
    </div>
  </div>